.ticker{
    min-width:100%;
    max-width:100%;
    height:100px;

    position: relative;
    overflow-x: hidden;
    overflow-y: visible;

    background-color: #0b2247;
    color: #FFFFFF;
}

.tickerslide{
    position: absolute;
    left: 0;

    transform: translateX(-100%);

    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
.ticker:hover > .backTicker{
    animation-play-state: paused;
}

.ticker:hover > .forTicker{
    animation-play-state: paused;
}
*/

.backTicker{
    animation-name: slideticker;
    animation-duration: 120s;
    animation-delay: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.forTicker{
    animation-name: slideticker;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;        
}

@keyframes slideticker{
    from {
        transform: translateX(-100%);    
    }
    to {
        transform: translateX(100%);    
    }
}